html {
    width : 100%;
    height: 100%;
}

body {
    padding            : 10px;
    padding-top: 6px;
    padding-right: 2px;
    width              : 100%;
    background-color   : #F0F0F0;
    font-size          : 14px;
    font-weight        : 400;
    overflow-x      : hidden;
}

td:first-child {
    width        : 350px;
    max-width    : 1vw;
    height       : 1.2em;
    overflow     : hidden;
    white-space  : nowrap;
    text-overflow: ellipsis;
}

.form-control {
    height       : calc(1.5em + 0.75rem + -7px);
    padding      : 4px;
    font-size    : 15px;
    margin-bottom: 10px;
}

.card {
    min-height: 97vh;
    width : 100%;
}

.card-body {
    padding: 11px !important;
}


.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

button {
    border: 1px solid black;
}